<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sherrao.openhacks2020">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_homestock_logo"
        android:label="HomeStock"
        android:roundIcon="@drawable/ic_homestock_logo_cicle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="me.sherrao.openhacks2020.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.sherrao.openhacks2020.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>